In [1]:
from pathlib import Path
from datetime import datetime
import pandas as pd
import numpy as np
import time
import sys
import os
import re

In [2]:
test_df_path = Path("../data_file_v4_short.csv")

In [3]:
df = pd.read_csv(test_df_path)

In [6]:
groups = df.groupby("id")

In [11]:
df

            id             datetime                 concept
0      5279463  1970-01-01 01-05-46                  actend
1      5279463  1970-01-01 01-05-46               departure
2      5279463  1970-01-01 01-05-46     PersonEntersVehicle
3      5279463  1970-01-01 01-05-46  vehicle enters traffic
4      4356038  1970-01-01 01-37-10                  actend
...        ...                  ...                     ...
49995  8731483  1970-01-01 07-31-30  vehicle enters traffic
49996   307591  1970-01-01 07-31-30  vehicle enters traffic
49997  1850739  1970-01-01 07-31-30               travelled
49998  1850739  1970-01-01 07-31-30                 arrival
49999  1850739  1970-01-01 07-31-30                actstart

[50000 rows x 3 columns]

In [ ]:
df1 = df.head(50000)
df1.to_csv("../data_file_v4_short.csv", index=False)

In [ ]:
df1["datetime"] = df1["datetime"].apply(lambda seconds : datetime.fromtimestamp(seconds).strftime('%Y-%m-%d %H-%M-%S'))

In [ ]:
df1.to_csv("../data_file_v4_short.csv", index=False)

In [ ]:
times = pd.to_datetime(df1["datetime"], errors='coerce', format='%Y-%m-%d %H-%M-%S')

In [ ]:
sum(pd.isnull(times))

In [12]:
import pickle as pkl

In [15]:
path = "../embeddings.pkl"

In [16]:
with open(path, "rb") as handle:
    embeddings = pkl.load(handle)

In [18]:
len(embeddings["final_embeddings"])

13

In [19]:
embeddings

{'vocab': {'concept': 0,
  'actend': 1,
  'departure': 2,
  'PersonEntersVehicle': 3,
  'vehicle enters traffic': 4,
  'vehicle leaves traffic': 5,
  'PersonLeavesVehicle': 6,
  'arrival': 7,
  'actstart': 8,
  'travelled': 9,
  'stuckAndAbort': 10,
  'pt_transit': 11,
  'encounter': 12},
 'vocab_size': 13,
 'reverse_vocab': {0: 'concept',
  1: 'actend',
  2: 'departure',
  3: 'PersonEntersVehicle',
  4: 'vehicle enters traffic',
  5: 'vehicle leaves traffic',
  6: 'PersonLeavesVehicle',
  7: 'arrival',
  8: 'actstart',
  9: 'travelled',
  10: 'stuckAndAbort',
  11: 'pt_transit',
  12: 'encounter'},
 'final_embeddings': array([[-4.4445586e-03, -4.8130155e-03, -4.2919028e-03, ...,
         -3.7502395e-03, -8.0082566e-05,  3.4012087e-03],
        [-3.0887738e-02, -7.2521460e-04,  1.5798172e-03, ...,
          1.1286452e-01, -1.5724748e-02,  5.0326092e-03],
        [-7.5671308e-02,  2.1866336e-03,  2.5645515e-03, ...,
          1.7359743e-01, -1.1762439e-02,  3.4171015e-02],
        ...,
        [ 4.8296608e-02, -4.0135294e-02, -9.9803405e-03, ...,
         -1.2489012e+00, -3.6742695e-02, -2.6438752e-02],
        [-2.0021945e-02,  3.7088443e-03,  1.4868916e-03, ...,
          2.2146363e+00, -3.8540605e-03,  3.0933106e-02],
        [ 1.5769416e-01, -4.7387588e-03, -1.7589364e-02, ...,
         -8.6239010e-01,  7.5324535e-02, -6.9421977e-02]], dtype=float32)}